<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Exercise 2</title>


    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{assets/datatable/main.css}"/>

</head>
<body>

<div class="container">
    <h5 class="application-margin-top">Task List</h5>
    <button class="btn-danger" style="width: 120px;margin-top: 90px;" id="btnAddTask">Add Task</button>
    <div class="row application-margin-top">
        <div class="col">
            <div class="">
                <table id="tblTask" class="table table-bordered" style="width: 100%">
                    <thead style="background-color: darkred !important;color: white;">
                    <tr>
                        <th>Task ID</th>
                        <th>Task Name</th>
                        <th>End Date</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/datatable/datatables.js}"></script>

<script>
    $(document).ready(function(){
        $('#tblTask').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/tasks",
                "type": "GET",
                "dataType": "json",
                "contentType": "application/json",
                "dataSrc": ""
            },
            "columns": [
                {"data": "taskID", "width": "20%"},
                {"data": "taskName","width": "20%"},
                {"data": "endDate", "width": "20%"},
                {"data": "status", "width": "20%"}
            ]
        });
    });

</script>

</body>
</html>